:root {
  --primary-color: #0d7377;
  --secondary-color: #32e0c4;
  --dark-grey: #2b2b2b;
  --button-bg-color: #e0b354;
  --text-color: #212121;
  --grid-item-color: #e8e8e8;
  --max-width: 675px;
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --button-border-bottom: rgba(0, 0, 0, 0.3);
  --button-color: white;
  --sun-1: #edc655;
  --sun-2: #fcffad;
  --sun-3: #f76414;
  --black: #000;
}

/*
Color palette: https://colorhunt.co/palette/e8ded2a3d2ca5eaaa8056676
Background color: #EEEEEE or lightgray or none
Primary color: #0D7377
Secondary color: #32E0C4
Text color: #212121
Grid item color: #e8e8e8

Buttons:
Background: #0D7377 or #e0b354
Text color: white or #2b2b2b
Border bottom: rgba(0, 0, 0, 0.3)

Used in Animation:
Sun: #edc655, #fcffad, #f76414
*/

/* TAGS */
body {
  font-family: 'Lato', sans-serif;
  font-weight: var(--font-weight-regular);
}

* {
  box-sizing: border-box;
}

p {
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  line-height: 1.6;

  /* text-align: center; */
}

.about p {
  margin-left: 50px;
}

h1 {
  font-size: 30px;
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: 24px;
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: 18px;
  font-weight: var(--font-weight-bold);
}

a {
  color: var(--primary-color);
}

a:visited {
  color: var(--secondary-color);
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: var(--text-color);
}

button,
.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--button-color);
  text-decoration: none;
  padding: 10px;
  margin: 20px auto;
  border-radius: 3px;
  border-bottom: 2px solid var(--button-border-bottom);
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

textarea,
#contact-email,
#contact-telephone {
  max-width: 100%;
}

hr {
  background-color: none;
  border-style: dotted none none;
  border-color: var(--text-color);
  border-width: 5px;
  height: 0;
  width: 10%;
  margin-top: 20px;
}

/* CLASSES */
.logo {
  float: left;
}

.profile {
  max-width: 100%;
  margin: 0 20%;
  clear: both;
}

.welcome-box {
  /* text-align: center; */
  max-width: 620px;
  margin: 0 auto;
}

.welcome-text {
  max-width: 300px;
  display: inline-block;
}

.about {
  clear: both;
  text-align: center;
}

.button__secondary {
  background-color: var(--button-bg-color);
  color: var(--dark-grey);
}

.navigation-list__item--active {
  text-decoration: none;
}

.profile__portrait {
  float: left;
  width: 40%;
  margin-right: 40px;
  margin-left: 0.67em;
  border-radius: 50%;
}

/* .welcome-text {
  padding-left: 40px;
} */
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
  align-self: flex-start;
  margin: auto;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;

  /* padding-right: 20px; */
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.contact {
  clear: both;
  padding: 40px;
}

.social-icon {
  width: 40px;
  height: 40px;
}

#about-picture {
  max-width: 85%;
}

table {
  margin: 0 auto;
  text-align: left;
  background-color: var(--button-color);
  border-collapse: collapse;
  border-width: 2px;
  border-color: var(--black);
  border-style: solid;
  color: var(--black);
}

td,
th {
  border-width: 2px;
  border-color: var(--black);
  border-style: solid;
  padding: 5px;
}

thead {
  background-color: var(--grid-item-color);
}

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
}

/* end grid fallback */
@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;

    /* grid-template-rows: 300px 300px; */
  }

  .grid__item {
    background-color: var(--grid-item-color);
    width: auto;
    min-height: auto;
    margin: 0;
  }

  .grid__item:last-child {
    grid-column: 4 / 4;
    grid-row: 1 / 3;
  }
}

/* RESPONSIVNESS */
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .page-header {
    display: flex;
    width: 100%;
    padding: 10px;
  }

  .page-header__item {
    min-width: 0;
  }

  .profile__portrait {
    float: none;
    margin: 0;
    width: 150px;
  }

  .social-icon {
    width: 20px;
    height: 20px;
  }

  .profile p,
  .about p {
    margin: 0 20px;
  }

  #about-picture {
    margin: 0 20px;
    max-height: 50%;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  /* .profile {
    margin: 0 40px;
  } */
  #about-picture {
    margin: 0 20px;
    max-height: 50%;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  .profile {
    /* margin: 0 40px; */
    text-align: center;
  }

  .profile__portrait {
    float: none;
    margin: 0;
  }

  h1 {
    font-size: 22px;
  }
}

@media all and (max-width: 1001px) {
  .profile {
    /* margin: 0 40px; */
    text-align: center;
  }

  .profile__portrait {
    float: none;
    margin: 0;
  }

  .welcome-box {
    max-width: 500px;
  }

  .welcome-text {
    margin: 0 auto;
  }
}

/* ANIMATION */
@keyframes color-change {
  0% {
    fill: var(--sun-1);
  }

  50% {
    fill: var(--sun-2);
  }

  100% {
    fill: var(--sun-3);
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* START FIXED HEADER; FOOTER */
html,
body,
.page {
  height: 100%;

  /* needed for proper layout */
}

body {
  overflow: hidden;
}

p {
  margin-bottom: 1em;
}

.page {
  display: flex;
  flex-direction: column;
}

.page-header {
  flex: 0 0 auto;
}

.page-content {
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
}

.page-footer {
  flex: 0 0 auto;
}

/* END FIXED HEADER; FOOTER */
